body, div, p,  ul, ol, li, dl, dt, dd, table, th ,td, img, figure,
h1, h2, h3 ,h4 ,h5, h6, form, select
{ margin: 0; padding: 0; }

ul, ol { list-style: none; }

img { border: 0; vertical-align: middle; }

svg, input, select, textarea, label
{ vertical-align: middle; }

table
{ border-collapse: collapse; }

*, *:before, *:after {
  word-break: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

pre
{ white-space: pre-wrap; }

/* [IE8-] New Tag from HTML5 */
main, article, aside, figcaption, figure,
footer, header, nav, section, details, summary
{ display: block; }

address
{ font-style: normal; }

body
{ -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6
{ font-weight: normal; font-size: 100%; }

strong, em, small
{ font-style: inherit; font-weight: inherit; }
